.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    background: pink;
    width: 50%;
}

.app-title {
    padding: 30px;
    font-weight: bolder;
}

.add-form {
    padding-bottom: 30px;
}